/venv
detect-defects-lap-b2a30c4f8889.json
# /test
# /train
# /validation
# /bag_files
# /augmentation

# Исключаем временные файлы DVC
.dvctmp/
.dvctmp.*
.cache/

# Файлы для обучения
*.jpg
*.png
*.jpeg
*.tiff
*.tif