/6_con_clamp_2.png
/4_cliff_36.png
/4_cliff_18.tiff
/4_cliff_53.tiff
/4_2_cliff_deformation_70.png
/4_cliff_16.tiff
/4_cliff_39.tiff
/4_cliff_60.tiff
/4_7_cliff_bandage_9.tiff
/7_4_bandage_cliff_2.png
/2_deformation_12.png
/4_cliff_58.tiff
/4_cliff_10.png
/7_2_bandage_deformation_2.png
/4_cliff_3.png
/7_2_bandage_deformation_17.png
/7_4_bandage_cliff_6.png
/7_4_bandage_cliff_15.tiff
/4_6_cliff_8.tiff
/7_4_bandage_cliff_4.tiff
/7_4_bandage_cliff_17.tiff
/2_deformation_1.png
/4_7_cliff_bandage_14.tiff
/7_4_bandage_cliff_12.tiff
/4_cliff_67.tiff
/4_cliff_28.png
/6_4_con_clamp_cliff_5.png
/1_flashlight_7.tiff
/4_7_cliff_bandage_33.tiff
/7_4_bandage_cliff_10.tiff
/2_deformation_7.tiff
/0_none_1.tiff
/7_4_bandage_cliff_5.png
/4_6_cliff_con_clamp_75.tiff
/4_cliff_66.tiff
/4_cliff_68.tiff
/4_cliff_23.tiff
/4_cliff_5.png
/4_cliff_11.tiff
/4_cliff_19.tiff
/4_cliff_30.tiff
/4_cliff_38.tiff
/4_cliff_37.tiff
/4_cliff_43.tiff
/7_4_bandage_cliff_7.tiff
/4_cliff_15.tiff
/4_cliff_25.tiff
/4_cliff_46.tiff
/7_4_bandage_cliff_20.png
/4_cliff_76.tiff
/6_con_clamp_3.png
/4_cliff_56.png
/4_cliff_73.png
/4_6_cliff_con_clamp_77.tiff
/7_4_bandage_cliff_16.tiff
/2_deformation_4.png
/4_2_cliff_deformation_74.png
/7_4_bandage_cliff_9.tiff
/1_flashlight_3.tiff
/7_4_bandage_cliff_22.png
/4_cliff_44.tiff
/1_2_flashlight_deformation_6.tiff
/1_4_flashlight_5.tiff
/2_deformation_9.tiff
/4_cliff_20.tiff
/4_7_cliff_bandage_40.tiff
/2_deformation_11.tiff
/4_cliff_50.tiff
/4_cliff_49.tiff
/4_cliff_26.tiff
/1_flashlight_2.tiff
/4_cliff_48.png
/4_cliff_65.tiff
/0_none_3.png
/6_con_clamp_4.png
/4_7_cliff_bandage_29.tiff
/4_cliff_35.tiff
/4_cliff_71.png
/4_cliff_57.tiff
/4_cliff_69.png
/4_2_cliff_deformation_63.tiff
/4_2_cliff_deformation_39.tiff
/4_cliff_34.png
/7_4_bandage_cliff_14.tiff
/4_cliff_22.tiff
/2_deformation_6.tiff
/4_cliff_59.tiff
/4_cliff_4.png
/4_cliff_72.png
/4_cliff_42.tiff
/4_2_cliff_deformation_11.tiff
/7_4_bandage_cliff_8.tiff
/4_cliff_52.png
/4_6_cliff_7.png
/4_cliff_55.png
/1_flashlight_8.tiff
/2_deformation_14.tiff
/1_2_flashlight_4.tiff
/4_cliff_62.tiff
/4_cliff_51.tiff
/2_deformation_3.tiff
/4_cliff_27.tiff
/4_cliff_1.png
/4_cliff_24.tiff
/7_4_bandage_cliff_18.png
/2_deformation_13.png
/7_4_bandage_cliff_21.tiff
/4_cliff_47.tiff
/4_cliff_6.tiff
/6_con_clamp_1.png
/4_cliff_2.png
/2_deformation_15.tiff
/4_cliff_64.tiff
/4_cliff_61.tiff
/4_cliff_54.png
/4_7_cliff_bandage_32.png
/7_4_bandage_cliff_11.tiff
/7_4_bandage_cliff_19_.tiff
/4_cliff_17.tiff
/7_4_bandage_cliff_13.tiff
/4_cliff_13.tiff
/4_cliff_41.tiff
/4_cliff_21.tiff
/7_4_bandage_cliff_3.png
/1_flashlight_1.tiff
/4_cliff_12.tiff
/0_none_2.png
/2_4_deformation_5.png
/2_deformation_8.tiff
/4_cliff_45.tiff
/2_deformation_2.png
/2_deformation_10.tiff
/4_cliff_31.tiff
